<header>
    <div class="container-header">
        <div class="box-1">
            <h1>Universidade</h1>

            <div class="search">
                <label for="search">
                    <img src="assets/icons/search.svg" alt=""> 
                </label>

                <input type="search" id="search" placeholder="pequise...">
            </div>
        </div>

        <div class="perfil">
            <h3>Maciel Martins</h3>
            
            <div>
                <img src="assets/img/perfil.jfif" alt="">
            </div>
        </div>
    </div>
</header>